<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.android.liste">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_x"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.example.android.liste.ListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.android.liste.HistoryActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.android.liste.ListActivity"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.liste.ListActivity"/>
        </activity>

        <activity
            android:name="com.example.android.liste.PreferencesActivity"
            android:label="@string/pref_title"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.liste.ListActivity"/>
        </activity>

        <provider
            android:name="com.example.android.liste.data.ListContentProvider"
            android:authorities="com.example.android.liste"
            android:exported="false"/>

        <service android:name=".NotificationIntentService"
                 android:exported="false"/>

        <receiver android:name=".NotificationReceiver"/>

    </application>

</manifest>